#####
# Sublime gitignore

*.sublime-workspace

#####
# OS X temporary files that should never be committed

.DS_Store
*.swp
profile


#####
# Node gitignore

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules